@import "tailwindcss";
@import "react-toastify/dist/ReactToastify.css";

/* MAIN */
:root {
  --background-primary: #1a1a1a;
  --background-secondary: #2d2d2d;   
  --foreground: #ffffff;

  --primary: #00377e;
  --secondary: #002d67;
}

body {
  background: var(--background-primary);
  color: var(--foreground);

  button {
    background-color: var(--primary);
  }
  button:hover{
    cursor: pointer;
    background-color: var(--secondary);
  }
}

/* TOASTIFY */
.Toastify__toast {
  background-color: var(--background-secondary);
}

.background-secondary {
  background-color: var(--background-secondary);
}