@import "tailwindcss";
@import "react-toastify/dist/ReactToastify.css";

/* MAIN */
:root {
  --background: #000000;
  --alt-background: #111111;   
  --foreground: #ffffff;

  --primary: #00377e;
  --alt-primary: #002d67;
}

body {
  background: var(--background);
  color: var(--foreground);

  button {
    background-color: var(--primary);
  }
  button:hover{
    cursor: pointer;
    background-color: var(--alt-primary);
  }
}

/* TOASTIFY */
.Toastify__toast {
  background-color: var(--alt-background);
}